* {
  box-sizing: border-box;
  font-size: 12px;
  color: white;
}
body {
  background-color: black;
}
main {
  display: flex;
  min-height: 100vh;
}
#container {
  display: flex;
  margin: auto;
  height: 500px;
  width: 1000px;
  background-image: url(../images/simeon-muller-Io9VYJorLuc-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#search,
#display {
  height: 100%;
}

/* DISPLAY DIV */
#display {
  width: 65%;
}
#displayToday {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60%;
  padding-bottom: 60px;
}
#temp h1 {
  font-size: 5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* the p tags */
.location {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  padding-right: 30px;
  font-size: 2.3rem;
}
#inputLocationResult {
  font-weight: normal;
}
#todayDate {
  font-size: 0.8rem;
  padding-bottom: 10px;
}
#displayWeek {
  display: flex;
  height: 40%;
  align-items: flex-end;
}
.forcastTitle {
  flex-grow: 2;
}
.weekForecast {
  width: 20%;
  padding: 10px;
  border-top: 2px solid grey;
}
.weekForecast p {
  margin: 5px;
  padding: 0;
}

/* SEARCH DIV */
#search {
  width: 35%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  padding-left: 20px;
}
#searchBar {
  display: flex;
  justify-content: space-between;
  height: 12%;
}
    #searchBar input {
      color: white;
      border: none;
      width: 70%;
      border-bottom: 2px solid grey;
      background: rgba(0, 0, 0, 0);
    }
    /* button */
    #searchBar button {
      background-image: url(../images/search-icon.png);
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgb(193, 116, 0);
      color: black;
      border: none;
      border-radius: 0;
      width: 18%;
    }
#previousSearchDiv {
  margin-top: 20px;
  margin-right: 20px;
  border-bottom: 2px solid grey;
  height: 50%;
  max-height: 50%;
}
    #preSearch {
      border: none;
      background: rgba(0, 0, 0, 0);
      text-transform: capitalize;
    }
#todayWeatherDetails {
  margin-top: 20px;
  margin-right: 20px;
}
#todayWeatherDetails h6 {
  font-size: .9rem;
  margin-bottom: 30px;
}
#todayWeatherDetails p {
  display: flex;
  justify-content: space-between;
};


